<h1>Editing Report</h1>

<p class="author" >
	<%= @report.first_name %>&nbsp;<%= @report.last_name %>
	<%= mail_to @report.email, @report.email %>
	</p>
	<hr/>
	<p class =" report "><%= @report.content %></p>
	<hr/>

<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :grade %>
    <%= f.text_field :grade %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @report %> |
<%= link_to 'Back', reports_path %>
